* {
  margin: 0;
  padding: 0;
}
body{
  width: 1440px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
/*header start*/

header {
background-image:url(/img/bg.png);
height: 910px;

}
.logo {
  height: 50px;
  width: 50px;
}
nav {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  height: 90px;
  align-items: center;
  margin: 0 20px;
  font-size: 20px;
}
.navWrapper {
  display: flex;
  justify-content: space-around;
  width: 570px;
  height: 50px;
  margin-top:20px ;
}
.navigation{
  color: #ffffff;
  text-decoration: none;
}
.navigation:hover{
color: #BDAE82;
}
.translateWrapper{
  display: flex;
  text-decoration: none;
  color: #ffffff;
}
.translateOn{
  color: #BDAE82;
  text-decoration: none;
  margin: 0 10px;
}
.translateOff{
  color: #ffffff;
  text-decoration: none;
  margin: 0 10px;
}
.hero{
  color: white;
  height: 330px;
  width: 500px;
  margin: 160px 80px;
}
.heroTitle{
  height: 120px;
  font-size: 67px;
  margin-top: 180px;
}
.heroText{
  height: 120px;
  width: 470px;
  font-size: 23px;
  line-height: 35px
}
.hireMe{
  height: 55px;
  width: 220px;
  background-color: #BDAE82;
  margin-top: 10px;
}
/*header end*/
main{
background-color: black;
}
/*skills start*/
.skills{
  height: 480px;
}
.sectionTitleLine{
  height: 2px;
  width: 274px;
  background-color: #BDAE82;
}
.skillsTitle{
margin: 20px;
  color: #BDAE82;
  font-size: 47px;
}
.sectionTitleWrapper{
  display: flex;
justify-content: center;
height: 180px;
align-items: flex-end;
}
.sectionTitleSkills{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.skillsItems{
display: flex;
justify-content: center;
margin-top: 40px;
}
.skillsItem{
  width: 320px;
  height: 240px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.skillsItemsTitle{
  color:#BDAE82;
  font-size: 23px;
  margin: 55px 0 30px;
}
.skillsItemsText{
  color: #BDAE82;
  font-size: 22px;
  line-height: 35px;
  
}
.skillsImg{
  height: 50px;
}
/*skills end
portfolio start*/
.portfolio{
  height: 1500px;
  
}
.sectionTitleWrapper{

}
.sectionTitle{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 115px;
}
.portfolioTitle{
  color: #BDAE82;
  margin: 0 20px;
  font-size: 47px;
}
.portfolioTitleLine{
  width: 240px;
  height: 2px;
  background-color: #BDAE82;
}
.portfoliobtns{
  margin-top: 60px;
  height: 55px;
  display: flex;
  justify-content: center;
}
.btnWrapper{
  width: 216px;
  height: 51px;
  color: #BDAE82;
  border: 3px solid #BDAE82;
  margin: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.btnWrapper:hover{
  background-color: #BDAE82;
  cursor: pointer;
}
.btn{
  font-size: 24px;
  color: #BDAE82;
}
.btnActiv{
  background-color: #BDAE82;
  color: black;
}
.portfolioImgWrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 47.5px;
}
.portfolioImg{
width: 450px;
height: 560px;
margin: 12px;
}
/*portfolio end
video start*/
.video{
  height: 945px;
}
.videoTitleWrapper{
display: flex;
justify-content: center;
align-items: center;
}
.videoTitle{
color: #BDAE82;
font-size: 47px;
margin: 0 20px;
}
.videoTitleLine{
  width: 271px;
  height: 2px;
  background-color: #BDAE82;
}
.videoPlayer{
  margin: 72px 20px;
}
/*video end
price start*/
.price{
  height: 845px;
}
.priceTitleWrapper{
display: flex;
justify-content: center;
align-items: center;
}
.priceTitle{
color: #BDAE82;
font-size: 47px;
margin: 0 20px;
}
.priceTitleLine{
  width: 279px;
  height: 2px;
  background-color: #BDAE82;
}
.priceItemWrapper{
  display: flex;
  justify-content: center;
  margin-top: 55px;
}
.priceItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 505px;
  width: 450px;
  margin: 20px;
  border: 3px #BDAE82 solid;
  color: #ffffff;
}
.priceItemTitle{
  margin-top: 43px;
  font-size: 35px;
}
.priceItemPrice{
  margin-top:40px;
  font-size: 30px;
  color: #BDAE82;
}
.priceItemFrameWrapper{
  margin-top:20px ;
  text-align: center;
}
.priceItemFrame{
  margin-top: 10px;
  font-size: 22px;
}
.priceItemButton{
  height: 55px;
  width: 220px;
  background-color: #BDAE82;
  margin-top: 45px;
}
button:hover{
  background-color: #948865;
  cursor: pointer;
}
/*price end
contacts start*/
.contacts{
  background-image: url(/img/contacts.jpg);
  height: 700px;
  display: flex;
  justify-content: flex-end;
}
.contactsContainer{
  display: flex;
  flex-direction: column;
  color: #BDAE82;
  margin-top: 75px;
    font-size: 30px;
}
.aboutYou{
  width: 450px;
  background-color: rgba(0, 0, 0, 0.5);
  border: #BDAE82 2px solid;
  margin-right: 18px;
  color: #BDAE82;
}
.aboutYou::placeholder{
  color: #BDAE82;
  font-size: 20px;
}
.e-mailAboutYou{
  height: 50px;
  margin-top: 50px;
}
.phoneAboutYou{
  height: 50px;
  margin: 20px 0;
}
.messageAboutYou{
  height: 100px;
}
.sendMessage{
  height: 55px;
  width: 220px;
  background-color: #BDAE82;
  margin-top: 20px;
  font-size: 20px
}
/*contact end
footer start*/
footer{
  height: 150px;
  background-color: black;
  display: flex;
  align-items: center;
  color: #ffffff;
}
.socialData{
  width: 200px;
  display: flex;
  justify-content: space-around;
  font-size: 22px;
}
.githubLink{
  color: #ffffff;
}
